<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fooddelivery">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="Hunger Hunt"
        android:largeHeap="true"
        android:logo="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:roundIcon">
        <activity android:name="com.example.fooddelivery.Activities.ChatActivity"></activity>
        <activity android:name="com.example.fooddelivery.Activities.InboxActivity" />
        <activity android:name="com.example.fooddelivery.Activities.OpenScreen" />
        <activity android:name="com.example.fooddelivery.Activities.SigninActivity" />
        <activity android:name="com.example.fooddelivery.Activities.SignupActivity" />

        <activity
            android:name="com.example.fooddelivery.Activities.MainScreen"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.example.fooddelivery.Activities.AdminScreen"
            android:theme="@style/AppTheme" />

        <activity android:name="com.example.fooddelivery.Activities.ForgotPasswordActivity" />

        <activity
            android:name="com.example.fooddelivery.Activities.MenuActivity"
            android:label="Menu"
            android:parentActivityName="com.example.fooddelivery.Activities.MainScreen"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.example.fooddelivery.Activities.Cart_Favorite"
            android:parentActivityName="com.example.fooddelivery.Activities.MenuActivity" />

        <activity
            android:name="com.example.fooddelivery.Activities.Checkout"
            android:label="@string/title_activity_checkout"
            android:parentActivityName="com.example.fooddelivery.Activities.Cart_Favorite"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.example.fooddelivery.Activities.ThankYouPage">
            <intent-filter>
                <action android:name="applicationB.intent.action.Launch" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.fooddelivery.Activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Food Delivery"
            android:theme="@style/FullscreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>